<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="SightLife & Capstone B11 Excelerators partner solution" />
    <meta name="author" content="B11 Excelerators, SightLife but they didn't actually write anything" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Additions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <header>
        <a href="/">Back to Home</a>
    </header>
    <main>
        <h1 class="text-center">Add a new Eyebank</h1>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="container">
        <form action='/additions' method='POST'>
            {% csrf_token %}

            {% load crispy_forms_tags %}

            {{ form|crispy }}

            <input type='submit' class="btn btn-success" value='Submit' align="center"/>
        </form>
    </div>
    </main>
</body>

</html>