<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="SightLife & Capstone B11 Excelerators partner solution" />
    <meta name="author" content="B11 Excelerators, SightLife but they didn't actually write anything" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Partner Data Submission </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <header>
        {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
        {% endif %}
    </header>
    <main>
        <div class="container">
        <form action='/form' method='POST'>
            {% csrf_token %}

            {% load crispy_forms_tags %}

            <h1 align="center">Please select your eyebank from the table and the date range you are submitting data for</h1>
            {{ form1|crispy }}

            <h2 align="center" class="text-danger"><u>These fields are required by SightLife for reporting</u></h2>
            {{ form2|crispy }}
            
            <h3 align="center" class="text-danger"><u>These fields are more detailed data and are not required by SightLife for all to report</u></h3>
            <h3 align="center">I. Deaths and Death Notifications from Hospitals Served - HCRP</h3>
            {{ form3|crispy }}

            <h3 align="center">II. Potential Donors and Consent - HCRP</h3>
            {{ form4|crispy }}
            
            <h3 align="center">III. Tissue Recovery/Collection</h3>
            {{ form5|crispy }}

            <h3 align="center">IV. Eligibility and suitability for tissues recovered with intent for surgical use</h3  >
            {{ form6|crispy }}

            <h3 align="center">V. Tissue Distribution</h3 >
            {{ form7|crispy }}
             
            <h3 align="center">Eligibility and suitability for tissues recovered with intent for surgical use</h3>
            <h4 align="center">A. Reasons donor tissue is not eligible for transplantation</h4>
            {{ form8|crispy }}

            <h4 align="center">B. Reasons corneas are not suitable for transplantation</h4>
            {{ form9|crispy }}

            <h3 align="center">Corneas suitable but not transplanted</h3>
            <h4 align="center">Reasons eligible/suitable tissue was not transplanted</h4>
            {{ form10|crispy }}

            <h3 align="center">Social Return</h3>
            {{ form11|crispy }}

            <h3 align="center">Indications for Penetrating Keratoplasty or keratoprosthesis</h3>
            {{ form12|crispy }}
            
            {% if request.user.is_staff %}
            <h2 align="center" class="text-danger"><u>These fields are for SightLife only! Partners DO NOT FILL OUT!</u></h2>
            {{ form13|crispy }}
            {% endif %}
            <input type='submit' class="btn btn-success" value='Submit' align="center"/>
        </form>
    </div>
    </main>
</body>

</html>