<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="SightLife & Capstone B11 Excelerators partner solution" />
    <meta name="author" content="B11 Excelerators, SightLife but they didn't actually write anything" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Password Reset Done </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <main>
        {% if request.session.lang == "en" %}
       <div class="alert alert-info">
           An email has been sent with instructions to reset your password
       </div>
       {% endif %}
       {% if request.session.lang == "cn" %}
       <div class="alert alert-info">
            已发送一封电子邮件，其中包含单击以重置密码的链接
       </div>
       {% endif %}
    </main>
</body>


</html>